[data-bs-theme=dark] {
    --bs-body-color: #c7cdd3;
    --bs-secondary-color: rgba(173, 181, 189, 0.8);
    --bs-border-color: var(--bs-dark-border-subtle);
}

[data-bs-theme=dark] body{
    background-color: #121212;
}

html { 
    height:100%;
}
body { 
    min-height:100%;
    display: flex;
    flex-direction: column;
}

main.container{
    max-width: 800px;
}

#minutes{
    display: none;
}

.btn-lg{
    min-width: 6rem;
}

tbody tr > td:nth-last-of-type(1){
    text-align: end;
}

.table-responsive{
    overflow-y: auto;
    max-height: 340px;
}

/* thead {
    position: sticky;
    top: -1px;
    z-index: 500;
} */


.bootstrap-table .fixed-table-container.fixed-height .fixed-table-border{
    border: 0;
}


#min{
    font-size: 5rem;
}
#sec{
    font-size: 5rem;
}
#ms{
    font-size: 2.25rem;
}
.unit{
    font-size: 1.5rem;
}
@media (min-width: 576px) {
    #min{
        font-size: 7rem;
    }
    #sec{
        font-size: 7rem;
    }
    #ms{
        font-size: 3rem;
    }
    .unit{
        font-size: 2rem;
    }
}
@media (min-width: 768px) {
    #min{
        font-size: 10rem;
    }
    #sec{
        font-size: 10rem;
    }
    #ms{
        font-size: 4.5rem;
    }
    .unit{
        font-size: 3rem;
    }
}

